* {
    margin: 1;
    padding: 1;
  }
  

  body {
    background-size: 100vw;
    background-attachment: fixed;
  }
  
  .pokemon-container {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: auto;
  }
  
  
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 7%;
    padding: 5%;
    border-radius: 2%;
    transition: 1s;
    max-width: 80%;
  }
  
  li:hover {
    transition: 1s;
  }
  
  li img {
    width: 75%;
    height: 75%;
  }

  h1 {
    text-align: center;
  }
  
  h4 {
    padding: 5%;
    font-size: 100%;
    color: rgb(58, 58, 58);
  }
  
  h5 {
    padding: 5%;
    font-size: 100%;
    width: 100%;
    text-align: center;
    color:  rgb(58, 58, 58);
  }
  
  p {
    font-size: 150%;
    text-align: center;
  }
    
  .grass {
    border: 6px solid green;
  }
  
  .grass:hover {
    box-shadow: 0 20px 39px green, 0 15px 7px green;
    -webkit-box-shadow: 0 20px 39px green, 0 15px 7px green;
    
  }

  .water {
    border: 6px solid blue;
  }
  
  .water:hover {
    box-shadow: 0 20px 39px blue, 0 15px 7px blue;
    -webkit-box-shadow: 0 20px 39px blue, 0 15px 7px blue;
  }
  
  .fire {
    border: 6px solid red;
  }
  
  .fire:hover {
    box-shadow: 0 20px 39px red, 0 15px 7px red;
    -webkit-box-shadow: 0 20px 39px red, 0 15px 7px red;
  }
  
  .normal {
    border: 6px solid grey;
  }
  
  .normal:hover {
    box-shadow: 0 20px 39px grey, 0 15px 7px grey;
    -webkit-box-shadow: 0 20px 39px grey, 0 15px 7px grey;
  }

  .bug {
    border: 6px solid yellow;
  }
  
  .bug:hover {
    -webkit-box-shadow: 0 20px 39px yellow, 0 15px 7px yellow;
    box-shadow: 0 20px 39px yellow, 0 15px 7px yellow;
  }